.strategy {
    min-height: calc(100vh - 60px);
    background-color: #E5E5E5FF;
    padding: 80px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strategy-container {
    width: 80vw;
    min-height: 80vh;
}

.strategy-container .outlet {
    padding: 20px;
}

.strategy-header {
   display: flex;
   justify-content: start;
   align-items: center;
}

.strategy-header svg {
    font-size: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.strategy-header small {
    font-size: 20px;
    font-weight: 700;
}

.strategy-tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.strategy-tabs .tabs {
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.strategy-tabs .tabs a{
    text-align: center;
    text-decoration: none;
    padding: 20px 70px;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.strategy-tabs .editButton {
    padding: 10px 12px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.strategy-tabs .editButton svg {
    font-size: 20px;
} 

.tabs a.active{
   border-bottom: 5px solid #D2BFFFFF !important;
}

.disabledLink {
    color: gray;
    border-bottom: 2px solid gray !important;
}